.venv/
__pycache__/
*.py[cod]
.env
config.toml

data/bronze/**/*.json
data/silver/*.csv
data/gold/*.csv

Streamlit_App_Requirements.md
narrative.md
solution.md
style.md

app/streamlit_app2.py
app/streamlit_app3 - Copy.py